* {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.nav-title {
    font-weight: 800px;
    font-size: 45px;
    /* line-height: 61px; */

}

.text-primary {
    color: red;


}

.btn-primary {
    /* position: absolute; */
    width: 150px;
    height: 64px;
    left: 175px;
    padding: 18px 35px;
    top: 50px;
    background: lawngreen;
    border: 0;
    border-radius: 10px;



}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav ul {
    display: flex;
    justify-items: last baseline;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    justify-content: space-between;
    margin-left: 50px;



}
.hader{
    background: rgba(253, 110, 10, 0.2);
    background-image: url('../images/header_bg.png'),url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right ,left;

}
/* baner styles */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banenr-title{
    font-weight: 700;
font-size: 85px;
margin-bottom: 5px;


}
.banner-subtitle{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;

}
.color{
    color: #757575;
    font-size: 18px;
    margin-bottom: 15px;
}
.btn{
    background-color: coral;
    margin-left: 10px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
    background-color: antiquewhite;
}
.description{
    color: #757575;
    /* background-color: antiquewhite; */
    font-size: 18px;
    margin: 25px;

}
.about{
margin-top: 130px;
/* background-color: cyan; */
border-radius: 15px;
padding: 130px 150px;
margin-bottom: 20px;
text-align: center;
font-weight: 800;
}
.section-title{
    text-align: center;
    margin: 30px;
}
.about-info-container{
    display:flex;
    justify-content: space-around;
}
.info-title{
    font-size: 20px;
    color: #757575;

}
.info-description{
    font-weight: 700;
    color: #474747;
    font-size: 20px;
}




    
    
