
*{
    font-family: 'Open Sans', 'sans-serif';
}

section{
    margin-top: 130px;
}
/* header and nav style start */
.header{
    background-color: #FFEBD8;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
.nav_title{
    font-weight: 800;
    font-size: 30px;
}

nav ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style-type:none;
    margin-left: 10px;
    
}
.btn_primary{
    border-radius: 0.2rem;
    padding: 0.3rem;
    background-color:orange;
    height: 36px;
  margin: o.3rem;
  font-weight: 600;
  border: 0.8px solid;
}
/* header and nev style end */


/*header and banner style start  */
.banner{
    margin: 0px 200px;
    display: flex;
    align-items: center;
}
.banner_subtitle{
     font-weight: 700;

}
.banner_title{
    font-size: 50px;
}
.banner_description{
    font-size: 18px;
}
/* header and banner style end here */

/* main section style start here */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* main section style end here */

/* about section style start here */
.about{
margin-top: 120px;
background-color: #FFEBD8;
padding: 130px 150px;
text-align: center;
}
.section_title{
    
    font-weight: 900;
    margin-bottom: 50px;
   

}
.section_decription{
    font-size: 18px;
    margin-bottom: 30px;
  
    

}
.about_info_container{
    display: flex;
    justify-content: space-around;
}
.about_info{

}
.info_titel{
    font-size: 15px;
    
}
.info_description{
    font-weight: 800;
    margin-top: 10px;
}
/* about section style end here */

/* What I do secton style start here */

.what_i_do{
    
background-color: #FFEBD8;
padding: 130px 150px;


}
.section_title2{
    text-align: center;
   
}
.skills{
    display: flex;
    gap: 24px;
   

}
.skill{
    background-color: wheat;
    margin-top: 60px;
    padding: 15px;
    box-shadow: 0.2rem 0.3rem 0.3rem wheat;

}
.skill_title{

    font-weight: 800;
    margin-top: 25px;
    margin-bottom: 15px;
}
.skill_description{

}
/* What I do secton style end here */

/* Resume secton style start here */

.resume_section{
    

}
.resume_section_title{
    text-align: center;
    
  
}
.resume{
    display: flex;
    justify-content: center;
    padding: 5px;
    gap: 1rem;
    margin-top: 60px;
}
.education_section_title{
    text-decoration: underline;
}
.education_title{
    font-size: larger;
    font-weight: 800;
    

}
.university_year{
    font-size: small;
    font-weight: 800;


}
.edu{
    margin-top: 40px;
    margin-bottom: 40px;
    border-bottom: 2px dotted black;
 
}
.resume_button{
    margin-top: 40px;
    text-align: center;
}

/* Resume secton style  end here */
/* contact sectio style start here */
.contact{
    background-color: #FFF8F3;
   

}
.contact_section{
   
    display: flex;
    justify-content: center;
    gap: 100px;
    padding: 120px 150px;
}
    .contact input,textarea{
        margin: 18px;
        border: 0;
        padding: 10px 15px;
        
    }
input{
    height: 30px;
}
.btn_primary1{
    width: 100%;
    background-color:orange;
    padding: 5px;
    border-radius: 0.3rem;
}












/* contact sectio style end here */




